.offer {
  position: relative;
  min-height: 764px;
  background-color: #F1E4E6;
  background-image: url(image/offer-bg.png);
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;

  &__text {
    position: absolute;
    top: 50%;
    right: 10%;
    padding-left: 16px;
    border-left: 12px solid $pink-color;
    font-size: 28px;
    font-weight: 700;

    &--main {
      margin: 0;
      font-size: 44px;
      font-weight: 900;
    }
  }
}

@media (max-width: 1024px) {
  .offer {
    min-height: 368px;
  }
}

@media (max-width: 768px) {
  .offer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;

    &__text {
      position: relative;
      top: inherit;
      right: inherit;
    }
  }
}