body {
  font-family: "Lato", sans-serif, "Arial";
  font-weight: 400;
  font-size: 14px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2,
h3,
h4 {
  margin: 0;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.pink-text {
  color: #F16D7F;
}

.italic-text {
  font-style: italic;
}

.check-mark::before {
  content: "";
  position: relative;
  width: 20px;
  height: 16px;
  padding-right: 22px;
  background-image: url(image/check-mark.svg);
  background-repeat: no-repeat;
}

.page-heading {
  background-color: #F8F3F4;
}
.page-heading__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-heading__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}
.page-heading__breadcrumbs {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.pink-btn {
  font-size: 16px;
  text-transform: capitalize;
  color: #F16D7F;
  background-color: inherit;
  border: 1px solid #F16D7F;
  cursor: pointer;
  transition: 0.2s;
}
.pink-btn:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.header {
  position: relative;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  background-color: #222222;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 40px;
}
.header__menu, .header__account {
  margin-right: 32px;
}
.header__nav {
  display: none;
}

.nav {
  z-index: 1;
  position: absolute;
  top: 75px;
  right: 0;
  min-height: 692px;
  padding: 36px 34px;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.nav__title {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.nav__category-name {
  margin-bottom: 8px;
}
.nav__category-item:not(:last-of-type) {
  margin-bottom: 20px;
}
.nav__list {
  margin-left: 10px;
}
.nav__item a {
  display: block;
  margin-bottom: 8px;
  color: #6F6E6E;
}

.offer {
  position: relative;
  min-height: 764px;
  background-color: #F1E4E6;
  background-image: url(image/offer-bg.png);
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.offer__text {
  position: absolute;
  top: 50%;
  right: 10%;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  font-size: 32px;
  font-weight: 700;
}
.offer--main {
  font-weight: 900;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 65px;
}
.categories__item {
  min-height: 260px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.categories__item:last-of-type {
  grid-column-start: 1;
  grid-column-end: 4;
}
.categories__item--women {
  background-image: url("image/category-1.png");
}
.categories__item--men {
  background-image: url("image/category-2.png");
}
.categories__item--kids {
  margin-right: 0;
  background-image: url("image/category-3.png");
}
.categories__item--accesories {
  margin-right: 0;
  background-image: url("image/category-4.png");
}
.categories__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.categories__link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.categories__text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}
.categories__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #F16D7F;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
  margin-bottom: 48px;
}
.featured__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.featured__text {
  margin-top: 10px;
  font-size: 14px;
  color: #9F9F9F;
}
.featured__btn {
  margin-top: 18px;
  padding: 15px 40px;
}

.products__item {
  position: relative;
}
.products__item:hover img {
  filter: brightness(50%);
}
.products__item:hover .products__add2cart {
  display: flex;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.products__link {
  position: relative;
  display: block;
  background: #F8F8F8;
}
.products__text-wrapper {
  padding: 20px 18px;
}
.products__name {
  font-size: 14px;
  font-weight: 400;
}
.products__desc {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 300;
  color: #5D5D5D;
}
.products__add2cart {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: calc(50% - 70px);
  width: 140px;
  height: 44px;
  color: #FFFFFF;
  background-color: inherit;
  border: 1px solid #fff;
  cursor: pointer;
}
.products__add2cart::before {
  content: "";
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-image: url(./image/cart-icon.svg);
}
.products__add2cart:hover {
  display: flex;
}
.products__price {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
}
.products__pagination {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.products__pagination .pagination__list {
  display: flex;
  justify-content: space-around;
  max-width: 284px;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.products__pagination .pagination__link:hover {
  box-shadow: none;
  text-decoration: underline;
}

.advantages {
  margin-top: 96px;
  background-color: #222224;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  padding-top: 60px;
  color: #FBFBFB;
  background-repeat: no-repeat;
  background-position: center top;
}
.advantages__item--delivery {
  background-image: url(image/advant-icon-1.svg);
}
.advantages__item--sales {
  background-image: url(image/advant-icon-2.svg);
}
.advantages__item--quality {
  background-image: url(image/advant-icon-3.svg);
}
.advantages__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.advantages__text {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.subs {
  background-image: url(image/sub-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.subs__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 126px;
}
.subs__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subs__block--left {
  max-width: 360px;
}
.subs__photo {
  width: 96px;
  height: 96px;
  border-radius: 100%;
}
.subs__info {
  margin-top: 30px;
  text-align: center;
}
.subs__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
}
.subs__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.subs__title {
  font-weight: 700;
  font-size: 24px;
}
.subs__form {
  display: flex;
  width: 100%;
  margin-top: 32px;
}
.subs__email {
  width: 100%;
  padding: 10px 0 10px 22px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 16px 0 0 16px;
}
.subs__email::-moz-placeholder {
  text-transform: capitalize;
}
.subs__email:-ms-input-placeholder {
  text-transform: capitalize;
}
.subs__email::placeholder {
  text-transform: capitalize;
}
.subs__submit {
  padding: 0 10px;
  color: #FBFBFB;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}

.footer {
  background-color: #222224;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__copyright {
  color: #FBFBFB;
}
.footer .social__list {
  display: flex;
}
.footer .social__item {
  margin-right: 8px;
}
.footer .social__item:last-of-type {
  margin-right: 0;
}
.footer .social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
}
.footer .social__link:hover {
  background-color: #F16D7F;
  transition: 0.1s;
}
.footer .social__link:hover .social__img {
  fill: #FFF;
}
.footer .social__img {
  fill: #000;
}

.filter-sort {
  padding-top: 39px;
  display: flex;
  gap: 30px;
}
.filter-sort .filter {
  width: 100%;
  padding: 13px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}
.filter-sort .filter[open] {
  background-color: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-sort .filter-box {
  position: relative;
  height: 40px;
  width: 360px;
}
.filter-sort .filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}
.filter-sort .filter__link:hover {
  color: #F16D7F;
}
.filter-sort .filter__box {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 11px;
}
.filter-sort .filter__summary {
  display: flex;
  gap: 11px;
  align-items: center;
  cursor: pointer;
}
.filter-sort .filter__summary[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-sort .filter__summary[open] .filter__summary {
  color: #F16D7F;
}
.filter-sort .filter__summary[open] .filter__img path {
  fill: #F16D7F;
}
.filter-sort .filter__category {
  margin-top: 16px;
  cursor: pointer;
}
.filter-sort .filter__category-summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}
.filter-sort .filter__category[open] .filter__category-summary {
  color: #F16D7F;
}
.filter-sort .sort {
  display: flex;
  gap: 28px;
  align-items: center;
}
.filter-sort .sort__details {
  position: relative;
}
.filter-sort .sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.filter-sort .sort__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 79px;
  padding: 7px 9px 11px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: -9px;
}

.reg-form {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}
.reg-form__form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin-right: 128px;
}
.reg-form__legend {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}
.reg-form__legend {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}
.reg-form__radio-block {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.reg-form__radio {
  margin-right: 10px;
}
.reg-form__radio-label {
  margin-right: 20px;
  font-weight: 300;
  font-size: 12px;
}
.reg-form__input {
  margin-top: 20px;
  padding: 10px 0 10px 18px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
}
.reg-form__input::-moz-placeholder {
  font-weight: 300;
  color: #B1B1B1;
}
.reg-form__input:-ms-input-placeholder {
  font-weight: 300;
  color: #B1B1B1;
}
.reg-form__input::placeholder {
  font-weight: 300;
  color: #B1B1B1;
}
.reg-form__add-info {
  margin-top: 15px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}
.reg-form__submit {
  position: relative;
  width: 168px;
  margin-top: 40px;
}
.reg-form__submit-btn {
  width: 100%;
  padding: 16px 30px 16px 0;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  background-color: #F16D7F;
}
.reg-form__submit::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 30px;
  width: 18px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(image/right-arrow.svg);
}
.reg-form__info {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.reg-form__title {
  font-weight: 300;
  text-transform: uppercase;
}
.reg-form__text {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.order {
  margin-top: 96px;
}
.order__wrapper {
  display: flex;
  justify-content: space-between;
}
.order-form {
  max-width: 360px;
}
.order-prods__item {
  position: relative;
  display: flex;
  min-width: 652px;
  margin-bottom: 40px;
  background-color: #fff;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.order-prods__img {
  max-height: 306px;
}
.order-prods__text-block {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  margin-left: 30px;
}
.order-prods__name {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.order-prods__props {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.order-prods__prop {
  margin-bottom: 6px;
}
.order-prods__close-btn {
  position: absolute;
  top: 28px;
  right: 22px;
  width: 18px;
  height: 18px;
  border: none;
  background-color: inherit;
  background-image: url(image/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.order-form {
  width: 100%;
}
.order-form__form {
  display: flex;
  flex-direction: column;
}
.order-form__input {
  margin-top: 20px;
  padding: 10px 0 10px 16px;
  border: 1px solid #A4A4A4;
}
.order-form__submit {
  display: flex;
  justify-content: center;
  max-width: 100px;
  margin-top: 22px;
  padding: 10px 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid #A4A4A4;
  background-color: inherit;
}
.order-form__price {
  margin-top: 56px;
  background-color: #F5F3F3;
}
.order-form__price-wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 40px 34px;
}
.order-form__btn-wrap {
  width: 100%;
}
.order-form__btn-wrap hr {
  margin: 20px 0;
  border-color: #E2E2E2;
}
.order-form__check-btn {
  width: 100%;
  padding: 12px 0;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #F16D7F;
}
.order-form__price-wrap span {
  margin-left: 16px;
}
.order-form__sub-price {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}
.order-form__grand-price {
  margin-top: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.order-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.order-btns__item {
  padding: 16px 40px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background-color: inherit;
}

.prod-card__slider {
  width: 100%;
}
.prod-card__slider .slider__arrow {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  background: rgba(42, 42, 42, 0.15);
  background-image: url(image/slider-arrow.svg);
  background-position: center;
  background-size: 12px 21px;
  background-repeat: no-repeat;
}
.prod-card__slider .slider__arrow--left {
  left: 0;
}
.prod-card__slider .slider__arrow--left:hover {
  background-image: url(image/slider-arrow-pink.svg);
  transform: rotate(180deg);
}
.prod-card__slider .slider__arrow--right {
  right: 0;
  transform: rotate(180deg);
}
.prod-card__slider .slider__arrow--right:hover {
  background-image: url(image/slider-arrow-pink.svg);
  transform: none;
}
.prod-card__slider .slider__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.prod-card__desc {
  display: flex;
  justify-content: center;
  margin-top: -64px;
}
.prod-card__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.prod-card__wrap-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
  max-width: 642px;
}
.prod-card__category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.prod-card__category::after {
  content: "";
  position: relative;
  width: 62px;
  height: 3px;
  margin-top: 12px;
  background-color: #EF5B70;
}
.prod-card__title {
  margin-top: 12px;
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 300;
}
.prod-card__text {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 300;
}
.prod-card__price {
  width: 100%;
  padding-bottom: 64px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
}
.prod-card__params {
  margin-top: 64px;
}
.prod-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prod-card__form-wrap {
  display: flex;
  margin-bottom: 48px;
}
.prod-card__select {
  border: none;
}
.prod-card__select:not(:last-of-type) {
  margin-right: 20px;
}
.prod-card__btn {
  display: flex;
  align-items: center;
  padding: 10px 24px;
}
.prod-card__btn::before {
  content: "";
  position: relative;
  width: 26px;
  height: 24px;
  margin-right: 22px;
  background-image: url(./image/cart-icon-pink.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.prod-card__similar {
  margin-top: 128px;
  margin-bottom: 128px;
}/*# sourceMappingURL=style.css.map */